{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/core"
tap "romkatv/powerlevel10k"
brew "coreutils"
brew "fd"
brew "fzf"
brew "grep"
brew "neovim"
brew "nmap"
brew "ripgrep"
brew "tree"
brew "wget"
brew "tmux"
brew "zsh-autosuggestions"
brew "zsh-completions"
brew "zsh-syntax-highlighting"
brew "moreutils"
brew "romkatv/powerlevel10k/powerlevel10k"
EOF
{{ else -}}
#!/bin/sh
sudo apt install fzf fd grep neovim nmap ripgrep tree wget tmux moreutils
{{ end }}
sh -c 'curl -fLo $HOME/.local/share/nvim/site/autoload/plug.vim --create-dirs \
       https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim'
